In [1]:
import pandas as pd
df = pd.read_csv('ìì¸ì ë¨ëì£¼ì ìì  ì¸íê° ì ë³´.csv',encoding='euc-kr')
df

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3200000,3200000-103-2023-00001,2023-03-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3110000,3110000-103-1996-04503,1996-04-15,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3160000,3160000-103-1995-06145,1995-10-23,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3060000,3060000-103-1995-06838,1995-08-16,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3120000,3120000-103-2003-00001,2003-10-01,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11569,3170000,3170000-103-1997-00623,19971103,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11570,3170000,3170000-103-1997-00616,19970714,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11571,3170000,3170000-103-1996-00674,19960920,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11572,3170000,3170000-103-1996-00662,19960508,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11573,3170000,3170000-103-1997-00622,1997-10-23,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [3]:
df1 = df[['인허가일자','영업상태명' ,'폐업일자','도로명주소','사업장명','업태구분명','좌표정보(X)', '좌표정보(Y)' ]]
df1

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,2023-03-02,영업/정상,NaN,"서울특별시 관악구 난곡로 323, 상진 2층 (신림동)",판도라,단란주점,192332.463248,442308.045654
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
...,...,...,...,...,...,...,...,...
11569,19971103,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
11570,19970714,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
11571,19960920,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
11572,19960508,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
11573,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [4]:
idx = df1[df1['영업상태명'].isin(['폐업'])].index
idx

Int64Index([   15,    16,    22,    25,    26,    32,    38,    42,    44,
               45,
            ...
            11523, 11524, 11525, 11532, 11534, 11542, 11548, 11560, 11563,
            11564],
           dtype='int64', length=9519)

In [5]:
df1.loc[15]

인허가일자                      19931112
영업상태명                            폐업
폐업일자                       20211104
도로명주소      서울특별시 강남구 학동로29길 5 (논현동)
사업장명                             더?
업태구분명                          단란주점
좌표정보(X)                202689.09761
좌표정보(Y)               445827.386579
Name: 15, dtype: object

In [6]:
dx = df1.drop(df[df['영업상태명'].isin(['폐업'])].index)
dx

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,2023-03-02,영업/정상,NaN,"서울특별시 관악구 난곡로 323, 상진 2층 (신림동)",판도라,단란주점,192332.463248,442308.045654
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
...,...,...,...,...,...,...,...,...
11569,19971103,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
11570,19970714,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
11571,19960920,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
11572,19960508,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
11573,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [7]:
dx = dx.reset_index()
dx

,index,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,0,2023-03-02,영업/정상,NaN,"서울특별시 관악구 난곡로 323, 상진 2층 (신림동)",판도라,단란주점,192332.463248,442308.045654
1,1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
...,...,...,...,...,...,...,...,...,...
2050,11569,19971103,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
2051,11570,19970714,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
2052,11571,19960920,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
2053,11572,19960508,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
2054,11573,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [8]:
del dx['index']
dx

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,2023-03-02,영업/정상,NaN,"서울특별시 관악구 난곡로 323, 상진 2층 (신림동)",판도라,단란주점,192332.463248,442308.045654
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
...,...,...,...,...,...,...,...,...
2050,19971103,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
2051,19970714,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
2052,19960920,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
2053,19960508,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
2054,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [9]:
dx['인허가일자'] = pd.to_datetime(dx['인허가일자'])

In [10]:
dx

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,2023-03-02,영업/정상,NaN,"서울특별시 관악구 난곡로 323, 상진 2층 (신림동)",판도라,단란주점,192332.463248,442308.045654
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
...,...,...,...,...,...,...,...,...
2050,1997-11-03,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
2051,1997-07-14,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
2052,1996-09-20,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
2053,1996-05-08,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
2054,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [11]:
dx = dx[dx['인허가일자'] < '2020-01-01']
dx

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,단란주점,199879.703920,447259.945463
...,...,...,...,...,...,...,...,...
2050,1997-11-03,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
2051,1997-07-14,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
2052,1996-09-20,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
2053,1996-05-08,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
2054,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [12]:
idx = dx[dx['도로명주소'].isnull()].index

In [13]:
idx

Int64Index([ 108,  122,  152,  289,  327,  330,  373,  381,  403,  414,  456,
             476,  479,  485,  487,  501,  504,  514, 1034, 1048, 1162, 1168,
            1171, 1249, 1310, 1329, 1330, 1387, 1440, 1669, 2021, 2038, 2042,
            2043],
           dtype='int64')

In [14]:
dx.loc[idx].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 108 to 2043
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   인허가일자    34 non-null     datetime64[ns]
 1   영업상태명    34 non-null     object
 2   폐업일자     0 non-null      object
 3   도로명주소    0 non-null      object
 4   사업장명     34 non-null     object
 5   업태구분명    34 non-null     object
 6   좌표정보(X)  18 non-null     float64
 7   좌표정보(Y)  18 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.4+ KB

In [15]:
dx = dx.drop(dx[dx['도로명주소'].isnull()].index)
dx

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,단란주점,199879.703920,447259.945463
...,...,...,...,...,...,...,...,...
2050,1997-11-03,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
2051,1997-07-14,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
2052,1996-09-20,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
2053,1996-05-08,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
2054,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [16]:
dx.isnull().sum()

인허가일자         0
영업상태명         0
폐업일자       1972
도로명주소         0
사업장명          0
업태구분명         0
좌표정보(X)       0
좌표정보(Y)       0
dtype: int64

In [17]:
idx = dx[dx['좌표정보(X)'].isnull()].index
dx.loc[idx]

Empty DataFrame
Columns: [인허가일자, 영업상태명, 폐업일자, 도로명주소, 사업장명, 업태구분명, 좌표정보(X), 좌표정보(Y)]
Index: []

In [18]:
dx_filered = dx[dx['인허가일자'] < '2020-01-01']
dx_filered

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,단란주점,199879.703920,447259.945463
...,...,...,...,...,...,...,...,...
2050,1997-11-03,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,단란주점,191442.973449,441840.346212
2051,1997-07-14,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,단란주점,190804.003574,441018.620016
2052,1996-09-20,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,단란주점,190999.733581,441169.149711
2053,1996-05-08,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,단란주점,191190.375303,440465.765059
2054,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,단란주점,191041.796152,440503.475513

In [19]:
gu_name=[]

for name in dx_filered['도로명주소']:
    tmp = name.split()
    tmp_gu = [gu for gu in tmp if gu[-1] == '구'][0]
    #print(tmp_gu)
    gu_name.append(tmp_gu)

# 칼럼 추가    D
dx_filered['구별'] = gu_name

dx_filered.head()

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),구별
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,단란주점,191862.871845,456988.192685,은평구
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,단란주점,190601.661796,443226.994309,구로구
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,단란주점,206813.057180,456188.141055,중랑구
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,단란주점,195024.356116,453992.743836,서대문구
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,단란주점,199879.703920,447259.945463,용산구

In [20]:
del dx_filered['업태구분명']
dx_filered

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,좌표정보(X),좌표정보(Y),구별
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,191862.871845,456988.192685,은평구
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,190601.661796,443226.994309,구로구
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,206813.057180,456188.141055,중랑구
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,195024.356116,453992.743836,서대문구
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,199879.703920,447259.945463,용산구
...,...,...,...,...,...,...,...,...
2050,1997-11-03,영업/정상,NaN,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,191442.973449,441840.346212,금천구
2051,1997-07-14,영업/정상,NaN,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,190804.003574,441018.620016,금천구
2052,1996-09-20,영업/정상,NaN,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,190999.733581,441169.149711,금천구
2053,1996-05-08,영업/정상,NaN,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,191190.375303,440465.765059,금천구
2054,1997-10-23,영업/정상,NaN,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,191041.796152,440503.475513,금천구

In [21]:
gu_name=[]

for name in dx_filered['도로명주소']:
    tmp = name.split()
    tmp_gu = [gu for gu in tmp if gu[-1] == '시'][0]
    #print(tmp_gu)
    gu_name.append(tmp_gu)

# 칼럼 추가    D
dx_filered['시군구'] = gu_name

dx_filered.head()

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,좌표정보(X),좌표정보(Y),구별,시군구
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,191862.871845,456988.192685,은평구,서울특별시
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,190601.661796,443226.994309,구로구,서울특별시
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,206813.057180,456188.141055,중랑구,서울특별시
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,195024.356116,453992.743836,서대문구,서울특별시
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,199879.703920,447259.945463,용산구,서울특별시

In [22]:
import pyproj
#x = 185872.179201
#y = 444031.699524
#crs_from = pyproj.CRS("EPSG:5181")  # 현재 좌표의 CRS (Korea 2000 좌표계)
#crs_to = pyproj.CRS("EPSG:4326")  # 목표 좌표의 CRS (WGS84 좌표계)
#transformer = pyproj.Transformer.from_crs(crs_from, crs_to, always_xy=True)
#lon, lat = transformer.transform(x, y)
#print("위도:", lat)
#print("경도:", lon)
#x,y 좌표 변환

lat_value=[]
lng_value=[]
for num in dx_filered.index:
    x = dx_filered['좌표정보(X)'][num]
    y = dx_filered['좌표정보(Y)'][num]
    crs_from = pyproj.CRS("EPSG:5181")  # 현재 좌표의 CRS (Korea 2000 좌표계)
    crs_to = pyproj.CRS("EPSG:4326")  # 목표 좌표의 CRS (WGS84 좌표계)
    transformer = pyproj.Transformer.from_crs(crs_from, crs_to, always_xy=True)
    lon, lat = transformer.transform(x, y)
    lat_value.append(lat)
    lng_value.append(lon)
    
    
dx_filered['위도'] = lat_value 
dx_filered['경도'] = lng_value

In [23]:
dx_filered.head()

,인허가일자,영업상태명,폐업일자,도로명주소,사업장명,좌표정보(X),좌표정보(Y),구별,시군구,위도,경도
1,1996-04-15,영업/정상,NaN,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,191862.871845,456988.192685,은평구,서울특별시,37.612445,126.907839
2,1995-10-23,영업/정상,NaN,서울특별시 구로구 도림로 104 (구로동),서담주점,190601.661796,443226.994309,구로구,서울특별시,37.488445,126.893731
3,1995-08-16,영업/정상,NaN,서울특별시 중랑구 동일로 869 (묵동),유토피아,206813.057180,456188.141055,중랑구,서울특별시,37.605248,127.077157
4,2003-10-01,영업/정상,NaN,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,195024.356116,453992.743836,서대문구,서울특별시,37.585479,126.943666
5,1997-10-14,영업/정상,NaN,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,199879.703920,447259.945463,용산구,서울특별시,37.524830,126.998639

In [24]:
dx_filered['위도'].isnull().count()

1972

In [25]:
dx = dx_filered[['시군구', '구별', '인허가일자', '도로명주소', '사업장명','위도','경도']]
dx

,시군구,구별,인허가일자,도로명주소,사업장명,위도,경도
1,서울특별시,은평구,1996-04-15,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,37.612445,126.907839
2,서울특별시,구로구,1995-10-23,서울특별시 구로구 도림로 104 (구로동),서담주점,37.488445,126.893731
3,서울특별시,중랑구,1995-08-16,서울특별시 중랑구 동일로 869 (묵동),유토피아,37.605248,127.077157
4,서울특별시,서대문구,2003-10-01,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,37.585479,126.943666
5,서울특별시,용산구,1997-10-14,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,37.524830,126.998639
...,...,...,...,...,...,...,...
2050,서울특별시,금천구,1997-11-03,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,37.475960,126.903260
2051,서울특별시,금천구,1997-07-14,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,37.468550,126.896046
2052,서울특별시,금천구,1996-09-20,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,37.469908,126.898257
2053,서울특별시,금천구,1996-05-08,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,37.463572,126.900421
2054,서울특별시,금천구,1997-10-23,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,37.463910,126.898741

In [56]:
dx.to_excel('../Documents/DataScience/output/단란주점도로명주소.xlsx')

In [26]:
dx1 = dx[dx['인허가일자'] < '2017-12-31']

In [27]:
dx1

,시군구,구별,인허가일자,도로명주소,사업장명,위도,경도
1,서울특별시,은평구,1996-04-15,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,37.612445,126.907839
2,서울특별시,구로구,1995-10-23,서울특별시 구로구 도림로 104 (구로동),서담주점,37.488445,126.893731
3,서울특별시,중랑구,1995-08-16,서울특별시 중랑구 동일로 869 (묵동),유토피아,37.605248,127.077157
4,서울특별시,서대문구,2003-10-01,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,37.585479,126.943666
5,서울특별시,용산구,1997-10-14,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,37.524830,126.998639
...,...,...,...,...,...,...,...
2050,서울특별시,금천구,1997-11-03,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,37.475960,126.903260
2051,서울특별시,금천구,1997-07-14,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,37.468550,126.896046
2052,서울특별시,금천구,1996-09-20,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,37.469908,126.898257
2053,서울특별시,금천구,1996-05-08,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,37.463572,126.900421
2054,서울특별시,금천구,1997-10-23,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,37.463910,126.898741

In [57]:
dx1.to_excel('../Documents/DataScience/output/2017년도단란주점.xlsx')

In [28]:
dx2 = dx[dx['인허가일자'] < '2018-12-31']

In [29]:
dx2

,시군구,구별,인허가일자,도로명주소,사업장명,위도,경도
1,서울특별시,은평구,1996-04-15,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,37.612445,126.907839
2,서울특별시,구로구,1995-10-23,서울특별시 구로구 도림로 104 (구로동),서담주점,37.488445,126.893731
3,서울특별시,중랑구,1995-08-16,서울특별시 중랑구 동일로 869 (묵동),유토피아,37.605248,127.077157
4,서울특별시,서대문구,2003-10-01,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,37.585479,126.943666
5,서울특별시,용산구,1997-10-14,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,37.524830,126.998639
...,...,...,...,...,...,...,...
2050,서울특별시,금천구,1997-11-03,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,37.475960,126.903260
2051,서울특별시,금천구,1997-07-14,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,37.468550,126.896046
2052,서울특별시,금천구,1996-09-20,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,37.469908,126.898257
2053,서울특별시,금천구,1996-05-08,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,37.463572,126.900421
2054,서울특별시,금천구,1997-10-23,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,37.463910,126.898741

In [58]:
dx2.to_excel('../Documents/DataScience/output/2018년도단란주점.xlsx')

In [30]:
dx3 = dx[dx['인허가일자'] < '2019-12-31']

In [31]:
dx3

,시군구,구별,인허가일자,도로명주소,사업장명,위도,경도
1,서울특별시,은평구,1996-04-15,"서울특별시 은평구 서오릉로 227 (구산동, 지하1층)",왓따7080,37.612445,126.907839
2,서울특별시,구로구,1995-10-23,서울특별시 구로구 도림로 104 (구로동),서담주점,37.488445,126.893731
3,서울특별시,중랑구,1995-08-16,서울특별시 중랑구 동일로 869 (묵동),유토피아,37.605248,127.077157
4,서울특별시,서대문구,2003-10-01,서울특별시 서대문구 통일로37길 4 (홍제동),테크노,37.585479,126.943666
5,서울특별시,용산구,1997-10-14,"서울특별시 용산구 보광로 37-1 (보광동,(지층))",타임,37.524830,126.998639
...,...,...,...,...,...,...,...
2050,서울특별시,금천구,1997-11-03,"서울특별시 금천구 독산로 358, 지하1층 (독산동)",별노래바,37.475960,126.903260
2051,서울특별시,금천구,1997-07-14,"서울특별시 금천구 가산로 53, 지하1층 (독산동)",백상,37.468550,126.896046
2052,서울특별시,금천구,1996-09-20,"서울특별시 금천구 시흥대로138길 10 (독산동, 지하1층)",대형노래밤,37.469908,126.898257
2053,서울특별시,금천구,1996-05-08,"서울특별시 금천구 범안로 1254, 지하1층 (독산동)",스타,37.463572,126.900421
2054,서울특별시,금천구,1997-10-23,"서울특별시 금천구 범안로 1239, 지하1층 (독산동)",하프 1/2,37.463910,126.898741

In [59]:
dx3.to_excel('../Documents/DataScience/output/2019년도단란주점.xlsx')

In [32]:
n = dx1.count()
n

시군구      1944
구별       1944
인허가일자    1944
도로명주소    1944
사업장명     1944
위도       1944
경도       1944
dtype: int64

In [33]:
dx1['도로명주소'].count()

1944

In [34]:
len(dx1[dx1['구별'] == '은평구'])

115

In [35]:
dx1 = dx1.groupby('구별').agg('count')
dx1

      시군구  인허가일자  도로명주소  사업장명   위도   경도
구별
강남구   196    196    196   196  196  196
강동구    79     79     79    79   79   79
강북구    79     79     79    79   79   79
강서구   147    147    147   147  147  147
관악구    70     70     70    70   70   70
광진구    70     70     70    70   70   70
구로구    64     64     64    64   64   64
금천구    63     63     63    63   63   63
노원구    37     37     37    37   37   37
도봉구    43     43     43    43   43   43
동대문구   69     69     69    69   69   69
동작구    31     31     31    31   31   31
마포구    57     57     57    57   57   57
서대문구   43     43     43    43   43   43
서초구    79     79     79    79   79   79
성동구    34     34     34    34   34   34
성북구    45     45     45    45   45   45
송파구   128    128    128   128  128  128
양천구    64     64     64    64   64   64
영등포구  107    107    107   107  107  107
용산구    81     81     81    81   81   81
은평구   115    115    115   115  115  115
종로구    98     98     98    98   98   98
중구     53     53     53    53   53   53
중랑구    92     92     92    92   92   92

In [36]:
dx2 = dx2.groupby('구별').agg('count')
dx2

      시군구  인허가일자  도로명주소  사업장명   위도   경도
구별
강남구   197    197    197   197  197  197
강동구    79     79     79    79   79   79
강북구    79     79     79    79   79   79
강서구   152    152    152   152  152  152
관악구    70     70     70    70   70   70
광진구    70     70     70    70   70   70
구로구    66     66     66    66   66   66
금천구    66     66     66    66   66   66
노원구    37     37     37    37   37   37
도봉구    44     44     44    44   44   44
동대문구   70     70     70    70   70   70
동작구    31     31     31    31   31   31
마포구    57     57     57    57   57   57
서대문구   43     43     43    43   43   43
서초구    79     79     79    79   79   79
성동구    34     34     34    34   34   34
성북구    45     45     45    45   45   45
송파구   128    128    128   128  128  128
양천구    64     64     64    64   64   64
영등포구  108    108    108   108  108  108
용산구    82     82     82    82   82   82
은평구   117    117    117   117  117  117
종로구    99     99     99    99   99   99
중구     56     56     56    56   56   56
중랑구    92     92     92    92   92   92

In [37]:
dx3 = dx3.groupby('구별').agg('count')
dx3

      시군구  인허가일자  도로명주소  사업장명   위도   경도
구별
강남구   197    197    197   197  197  197
강동구    81     81     81    81   81   81
강북구    79     79     79    79   79   79
강서구   153    153    153   153  153  153
관악구    71     71     71    71   71   71
광진구    70     70     70    70   70   70
구로구    66     66     66    66   66   66
금천구    66     66     66    66   66   66
노원구    37     37     37    37   37   37
도봉구    44     44     44    44   44   44
동대문구   70     70     70    70   70   70
동작구    31     31     31    31   31   31
마포구    57     57     57    57   57   57
서대문구   43     43     43    43   43   43
서초구    80     80     80    80   80   80
성동구    34     34     34    34   34   34
성북구    45     45     45    45   45   45
송파구   129    129    129   129  129  129
양천구    64     64     64    64   64   64
영등포구  109    109    109   109  109  109
용산구    82     82     82    82   82   82
은평구   117    117    117   117  117  117
종로구    99     99     99    99   99   99
중구     56     56     56    56   56   56
중랑구    92     92     92    92   92   92

In [38]:
dx1 = dx1.reset_index()

In [39]:
dx2 = dx2.reset_index()

In [40]:
dx3 = dx3.reset_index()

In [41]:
dx11 = dx1[['구별','시군구']]
dx22 = dx2[['구별','시군구']]

In [42]:
df = pd.merge(dx11, dx22, left_on='구별', right_on='구별')

In [43]:
df

      구별  시군구_x  시군구_y
0    강남구    196    197
1    강동구     79     79
2    강북구     79     79
3    강서구    147    152
4    관악구     70     70
5    광진구     70     70
6    구로구     64     66
7    금천구     63     66
8    노원구     37     37
9    도봉구     43     44
10  동대문구     69     70
11   동작구     31     31
12   마포구     57     57
13  서대문구     43     43
14   서초구     79     79
15   성동구     34     34
16   성북구     45     45
17   송파구    128    128
18   양천구     64     64
19  영등포구    107    108
20   용산구     81     82
21   은평구    115    117
22   종로구     98     99
23    중구     53     56
24   중랑구     92     92

In [44]:
dx33 = dx3[['구별','시군구']]
dx33

      구별  시군구
0    강남구  197
1    강동구   81
2    강북구   79
3    강서구  153
4    관악구   71
5    광진구   70
6    구로구   66
7    금천구   66
8    노원구   37
9    도봉구   44
10  동대문구   70
11   동작구   31
12   마포구   57
13  서대문구   43
14   서초구   80
15   성동구   34
16   성북구   45
17   송파구  129
18   양천구   64
19  영등포구  109
20   용산구   82
21   은평구  117
22   종로구   99
23    중구   56
24   중랑구   92

In [45]:
df = pd.merge(df, dx33, left_on='구별', right_on='구별')

In [46]:
df

      구별  시군구_x  시군구_y  시군구
0    강남구    196    197  197
1    강동구     79     79   81
2    강북구     79     79   79
3    강서구    147    152  153
4    관악구     70     70   71
5    광진구     70     70   70
6    구로구     64     66   66
7    금천구     63     66   66
8    노원구     37     37   37
9    도봉구     43     44   44
10  동대문구     69     70   70
11   동작구     31     31   31
12   마포구     57     57   57
13  서대문구     43     43   43
14   서초구     79     79   80
15   성동구     34     34   34
16   성북구     45     45   45
17   송파구    128    128  129
18   양천구     64     64   64
19  영등포구    107    108  109
20   용산구     81     82   82
21   은평구    115    117  117
22   종로구     98     99   99
23    중구     53     56   56
24   중랑구     92     92   92

In [47]:
df.columns = ['구별','2017년','2018년','2019년']

In [48]:
df

      구별  2017년  2018년  2019년
0    강남구    196    197    197
1    강동구     79     79     81
2    강북구     79     79     79
3    강서구    147    152    153
4    관악구     70     70     71
5    광진구     70     70     70
6    구로구     64     66     66
7    금천구     63     66     66
8    노원구     37     37     37
9    도봉구     43     44     44
10  동대문구     69     70     70
11   동작구     31     31     31
12   마포구     57     57     57
13  서대문구     43     43     43
14   서초구     79     79     80
15   성동구     34     34     34
16   성북구     45     45     45
17   송파구    128    128    129
18   양천구     64     64     64
19  영등포구    107    108    109
20   용산구     81     82     82
21   은평구    115    117    117
22   종로구     98     99     99
23    중구     53     56     56
24   중랑구     92     92     92

In [49]:
df['시군구']='서울특별시'

In [50]:
df

      구별  2017년  2018년  2019년    시군구
0    강남구    196    197    197  서울특별시
1    강동구     79     79     81  서울특별시
2    강북구     79     79     79  서울특별시
3    강서구    147    152    153  서울특별시
4    관악구     70     70     71  서울특별시
5    광진구     70     70     70  서울특별시
6    구로구     64     66     66  서울특별시
7    금천구     63     66     66  서울특별시
8    노원구     37     37     37  서울특별시
9    도봉구     43     44     44  서울특별시
10  동대문구     69     70     70  서울특별시
11   동작구     31     31     31  서울특별시
12   마포구     57     57     57  서울특별시
13  서대문구     43     43     43  서울특별시
14   서초구     79     79     80  서울특별시
15   성동구     34     34     34  서울특별시
16   성북구     45     45     45  서울특별시
17   송파구    128    128    129  서울특별시
18   양천구     64     64     64  서울특별시
19  영등포구    107    108    109  서울특별시
20   용산구     81     82     82  서울특별시
21   은평구    115    117    117  서울특별시
22   종로구     98     99     99  서울특별시
23    중구     53     56     56  서울특별시
24   중랑구     92     92     92  서울특별시

In [51]:
df = df[['시군구', '구별', '2017년', '2018년','2019년']]
df

      시군구    구별  2017년  2018년  2019년
0   서울특별시   강남구    196    197    197
1   서울특별시   강동구     79     79     81
2   서울특별시   강북구     79     79     79
3   서울특별시   강서구    147    152    153
4   서울특별시   관악구     70     70     71
5   서울특별시   광진구     70     70     70
6   서울특별시   구로구     64     66     66
7   서울특별시   금천구     63     66     66
8   서울특별시   노원구     37     37     37
9   서울특별시   도봉구     43     44     44
10  서울특별시  동대문구     69     70     70
11  서울특별시   동작구     31     31     31
12  서울특별시   마포구     57     57     57
13  서울특별시  서대문구     43     43     43
14  서울특별시   서초구     79     79     80
15  서울특별시   성동구     34     34     34
16  서울특별시   성북구     45     45     45
17  서울특별시   송파구    128    128    129
18  서울특별시   양천구     64     64     64
19  서울특별시  영등포구    107    108    109
20  서울특별시   용산구     81     82     82
21  서울특별시   은평구    115    117    117
22  서울특별시   종로구     98     99     99
23  서울특별시    중구     53     56     56
24  서울특별시   중랑구     92     92     92

In [52]:
df = df.set_index('구별')

In [55]:
df.to_excel('C:/Users/Playdata/Documents/DataScience/output/projectdata2.xlsx',encoding='cp949')

C:\ProgramData\anaconda3\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [ ]:
dx

In [ ]:
import googlemaps
import pandas as pd
import json
import folium
# numpy : 수학이나 과학 연산을 위해 만든 파이썬 라이브러리
from numpy import NaN,NAN,nan
import numpy as np

import googlemaps
import warnings
from folium.plugins import MarkerCluster

# numpy : 수학이나 과학 연산을 위해 만든 파이썬 라이브러리
from numpy import NaN,NAN,nan
import numpy as np
warnings.simplefilter(action='ignore',category = FutureWarning)

gmaps_key= "AIzaSyBAgdunCaHubS6cDbxNrQyzoU5KReTwus0"
gmaps = googlemaps.Client(key=gmaps_key)

from tqdm import tqdm_notebook

lat=[]
lng=[]

for n in tqdm_notebook(dx.index):
    try:
        tmp_add = str(dx['도로명주소'][n]).split('(')[0]
        tmp_map = gmaps.geocode(tmp_add)
        
        tmp_loc = tmp_map[0].get('geometry')
        lat.append(tmp_loc['location']['lat'])
        lng.append(tmp_loc['location']['lng'])
        
    except:
        lat.append(np.nan)
        lng.append(np.nan)
        
dx['lat']=lat
dx['lng']=lng
dx.head()

In [ ]:
import googlemaps
import pandas as pd
import json
import folium
import googlemaps
import warnings
from folium.plugins import MarkerCluster

# numpy : 수학이나 과학 연산을 위해 만든 파이썬 라이브러리
from numpy import NaN,NAN,nan
import numpy as np
warnings.simplefilter(action='ignore',category = FutureWarning)

gmaps_key= "AIzaSyBAgdunCaHubS6cDbxNrQyzoU5KReTwus0"
gmaps = googlemaps.Client(key=gmaps_key)

import json
geo_path = '../Documents/DataScience/data/python_data/02. skorea_municipalities_geo_simple.json'
geo_str=json.load(open(geo_path, encoding='UTF-8'))


mc = MarkerCluster()

map = folium.Map(location=[37.5502, 126.982],zoom_start = 10.5)
        
for n in dx.index:
    #iframe = '이름: '+ crime_anal_raw['관서명'][n]+"<br> 폭력 발생 수: "+ str(crime_anal_raw['폭력 발생'][n])
    #popup = folium.Popup(iframe, min_width=100, max_width=100)
    mc.add_child(
        folium.Marker([dx['lat'][n],
                      dx['lng'][n]],
                      prefix='fa',
                      icon=folium.Icon(color="purple", icon="info-sign")
                     #popup=popup
                     )
    )
    
    
map.add_child(mc)

map.choropleth(geo_data=geo_str,
              data = df['2017년'],
              columns = [df.index, df['2017년']],
              fill_color='PuRd',
              key_on = 'feature.id')
        

map

In [ ]:
import json
geo_path = '../Documents/DataScience/data/python_data/02. skorea_municipalities_geo_simple.json'
geo_str=json.load(open(geo_path, encoding='UTF-8'))


mc = MarkerCluster()

map = folium.Map(location=[37.5502, 126.982],zoom_start = 10.5)
        
for n in dx.index:
    iframe = '이름: '+ dx['사업장명'][n]
    popup = folium.Popup(iframe, min_width=100, max_width=100)
    mc.add_child(
        folium.Marker([dx['lat'][n],
                      dx['lng'][n]],
                      prefix='fa',
                      icon=folium.Icon(color="purple", icon="info-sign"),
                      popup=popup)
                     )
    
    
map.add_child(mc)

map.choropleth(geo_data=geo_str,
              data = df['2018년'],
              columns = [df.index, df['2018년']],
              fill_color='PuRd',
              key_on = 'feature.id')
        

map